version: '3'
services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  node-app:
    build: .
    environment:
      - PORT=4000
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=tobi
      - MONGO_INITDB_ROOT_PASSWORD=samuel
    volumes:
      - mongo-db:/data/db
      
  redis:
    image: redis:latest
    volumes:
      - redis:/data
    ports:
      - 6379:6379

volumes:
  mongo-db:
  redis: